:host {
  --width: 400px;
  --height: 500px;
  --inner-color: black;
  --fill-color: linear-gradient(90deg, rgba(124, 124, 124, 1) 0%, rgba(255, 226, 0, 1) 25%, rgba(249, 255, 0, 1) 50%);
  --outer-color: black;

  .container {
    width: 400px;
    height: 400px;
    position: relative;

    .svg {
      top: 0;
      position: absolute;
      width: 400px;
      height: 200px;
      fill: none;
      transform: rotate(-90deg);

      .circle {
        stroke: url(#gradient-fill);
      }
      .inner-circle {
        stroke: var(--inner-color);
      }
      .outer-circle {
        stroke: var(--outer-color);
      }
    }
  }
}
