:host {
  width: 100%;
  height: 100%;

  --top-bar-height: 40px;

  --color-light: var(--color-ultra-light-gray);
  --color-normal: var(--color-light-gray);
  --color-dark: var(--color-dark-light-gray);
  --color-base-icon: var(--icon-color-dark);
  --color-base-font: var(--font-color-dark);
  --color-opposite-light: var(--color-light-dark-gray);
  --color-opposite-normal: var(--color-dark-gray);
  --color-opposite-dark: var(--color-deep-dark-gray);

  &[dark] {
    --color-light: var(--color-light-dark-gray);
    --color-normal: var(--color-dark-gray);
    --color-dark: var(--color-deep-dark-gray);
    --color-base-icon: var(--icon-color-light);
    --color-base-font: var(--font-color-light);
    --color-opposite-light: var(--color-ultra-light-gray);
    --color-opposite-normal: var(--color-light-gray);
    --color-opposite-dark: var(--color-dark-light-gray);
  }

  .content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

    .top-bar {
      height: var(--top-bar-height);
      width: 100%;
      background-color: gray;
      background-color: var(--color-dark);
      transition: background-color var(--transition-short);
      display: flex;
      flex-direction: row;
      align-items: center;
      z-index: var(--top-bar-z-index);

      app-dark-mode-switch {
        --thumb-color: var(--color-light);
        --switch-icon-color: var(--color-base-icon);
      }

      app-localization-switch {
        --thumb-color: var(--color-light);
        --font-color: var(--color-base-font);
      }
    }

    .page-content {
      height: calc(100% - var(--top-bar-height));
      width: 100%;
      display: flex;
      flex-direction: row;
      background-color: var(--color-normal);
      transition: background-color var(--transition-short);
      z-index: var(--content-z-index);

      .side-bar {
        height: 100%;
        width: 20%;
        display: flex;
        align-items: center;
        z-index: 2;

        .circle-scroll-bar-container {
          width: 100%;
        }
      }

      .spacer {
        height: 100%;
        width: 10%;
        border-right: 2px solid var(--color-dark);
        transition: border-color var(--transition-short);
        position: relative;

        .mid-circle {
          --diameter: 30px;

          z-index: 1;
          top: calc(50% - var(--diameter) / 2);
          right: calc(0px - (var(--diameter) / 2 + 1px));
          position: absolute;
          border-radius: 50%;
          width: var(--diameter);
          height: var(--diameter);
          border: 2px solid var(--color-dark);
          background-color: var(--color-normal);
          transition: var(--transition-short);
        }
      }

      .scrollable-page {
        width: 70%;
        height: 100%;
        overflow: auto;

        .segment {
          height: 100%;
          color: var(--color-base-font);
          transition: color var(--transition-short);
        }
      }
    }
  }
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #00000000;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 2px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
