<div class="content">
  <div class="top-bar">
    <app-dark-mode-switch (darkModeChange)="changeDarkMode($event)"></app-dark-mode-switch>
    <app-localization-switch (changeLocalization)="changeLocalization($event)"></app-localization-switch>
  </div>
  <div class="page-content">
    <div class="side-bar">
      <div class="circle-scroll-bar-container">
        <app-circle-scroll-bar [menuItems]="menuItems" [percent]="percent"></app-circle-scroll-bar>
      </div>
    </div>
    <div class="spacer">
      <div class="mid-circle"></div>
    </div>
    <div #scrollable class="scrollable-page">
      <div menuName="sections.home" class="segment"><app-home></app-home></div>
      <div menuName="sections.about" class="segment"><app-about-me></app-about-me></div>
      <div menuName="sections.skills" class="segment">skills</div>
      <div menuName="sections.projects" class="segment">project</div>
    </div>
  </div>
</div>
