<div class="content">
  <div class="background light"></div>
  <div class="background dark"></div>
  <div class="center">
    <div class="text-1">
      <div #effect class="title">WELCOME</div>
      <div #effect class="title">TO MY PERSONAL</div>
      <div #effect class="title">WEBPAGE</div>
    </div>
    <div class="text-2">
      <div #effect class="title">MY NAME IS</div>
      <div #effect class="title">SZELLE TAMÁS</div>
    </div>
    <div #effect class="mouse">
      <div class="middle-button"></div>
    </div>
    <div #effect class="title scroll-text">Scroll down for more content</div>
  </div>
  <div #bubbleContent class="bubble-container"></div>
</div>
