/* You can add global styles to this file, and also import other style files */
:root {
  /* colors */
  --color-deep-dark-gray: #18191a;
  --color-dark-gray: #242526;
  --color-light-dark-gray: #3a3b3c;

  --color-ultra-light-gray: #ffffff;
  --color-light-gray: #eaeaea;
  --color-dark-light-gray: #d6d6d6;

  --icon-color-light: #ffffff;
  --icon-color-dark: #000000;

  --font-color-light: #ffffff;
  --font-color-dark: #000000;

  /* spacing */
  --spacing-xs: 4px;
  --spacing-s: 8px;
  --spacing-m: 16px;
  --spacing-l: 32px;
  --spacing-xl: 64px;

  /* transitions */
  --transition-short: 0.5s;
  --transition-long: 1s;

  /* z-index */
  --top-bar-z-index: 10000;
  --content-z-index: 1000;
}

body,
html {
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
}

* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
