:host {
  --color-border: grey;
  --color-thumb: white;
  --color-background: lightgray;

  --height: 30px;
  --width: 60px;
  --transition-duration: 0.5s;

  input[type='checkbox'] {
    position: relative;
    width: var(--width);
    height: var(--height);
    background-color: var(--color-background);
    outline: none;
    box-shadow: inset 0 0 calc(var(--height) / 10) rgba(0, 0, 0, 0.2);
    border-radius: calc(var(--height) / 2);
    transition: var(--transition-duration);

    -webkit-appearance: none;
  }

  input:checked[type='checkbox'] {
    background-color: orange;
  }

  input[type='checkbox']::before {
    content: '';
    position: absolute;
    height: var(--height);
    width: var(--height);
    border-radius: calc(var(--height) / 2);
    transform: scale(0.9);
    top: 0;
    left: 0;
    transition: var(--transition-duration);
    box-shadow: 0 0 calc(var(--height) / 10) rgba(0, 0, 0, 0.2);
    background-color: var(--color-thumb);
  }

  input:checked[type='checkbox']::before {
    left: calc(var(--width) - var(--height));
  }
}
